@import "mixins.less";

.header {
    display: flex;
    border: 0 0 1px ;
    border-bottom-color: @light-gray;
}

.header-title {
    flex: 1 auto;
}


.header-button {
    .button;
    flex: 1 auto;
    max-width: 320px;
    margin-right: 8px;
    background-color: @white;
}

.pokedex {
    display:"flex";
    width: 90%;
    border: 1px  black solid;
}

.pokemon-card {
    max-width: 240px; 
}