@import "mixins.less";

.header {
    display: flex;   
}

.header-title {
    flex: 1 auto;
}


.header-button {
    .button;
    flex: 1 auto;
    max-width: 320px;
}

.pokedex {
    display:"flex";
    width: 90%;
}

.pokemon-card {
    max-width: 240px; 
}